.best li{
    display: flex;
    gap: 50%;
    padding: 4% 4% 0 10%;
    font-size: 20px;
    font-weight: 300;
}
.best li h2 span{
    color: red;

}
.best li h2{
    font-size: 45px;
}
.chicken{
    display: flex;
    gap: 2%;
    padding: 4% 0 0 9%;
}
.chicken div p{
    color: red;
}
.image{
    border: red 12px solid;
    border-radius: 100px;
}
.burger{
     height: 30%;
     border-radius: 100%;
     width: 320px;
}
.fries{
    height: 30%;
    border-radius: 100%;
}
.pizza{
    height: 30%;
    border-radius: 100%;  
}
#fries{
    margin-left: -20%;
}
.reg{
    margin-top: -30%;
    list-style: none;
    display: flex;
    gap: 50%;
    padding-left: 7%;
    font-size: 20px;
    font-weight: 300;
}
#buy{
    border: none;
    background-color: red;
    padding: 3% 7%;
    border-radius: 20px;
}
.reg li h2 span{
    color: red;

}
.reg li h2{
    font-size: 45px;
}
.del{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 15%;
    margin-top: 7%;
    padding-left: 15%;
    margin-bottom: 9%;
}
.del div{
    background-color: #ffe066;
    border-radius: 20px;
    height: 350px;
}
.del div img{
    margin-top: -30%;
    margin-left: 25%;

}