.nav{
    display: flex;
    background-color: #ffd43b;
    gap: 20%;
    flex-wrap: wrap;
    padding-left: 5%;
    font-size: 18px;
}
.nav h3{
    font-size: 25px;
    font-weight: 600;
}
#middle{
    list-style: none;
    display: flex;
    gap: 5%;
    font-size: 20px;
}
#home{
    border-bottom: red solid 2px;
}
#login{
    border: none;
    background-color: #ffd43b;
    color: red;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}
#signup{
    background-color: #ffd43b;
    border-color: red;
    border-radius: 15px;
    padding: 3px;
    color: red;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    outline: none;
}